/*MENU
0 - Geral
1 - Menu
2 - Section Intro
3 - Section Historia
4 - Section Info
5 - Section Lojas
6 - Section Assine
7 - Info
*/ 

/* 0 - Geral  */

:root{
    --preto-primario: #333;
    
    --preto-secundario: #252525;

    --branco-primario: #fafafa;

    --cinza-primario: #e7e4d8;

    --cinza-footer: #d6d3c8;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.clear::after, .clear::before{
    content: "";
    display: table;
    clear: both;
}

/* 1 - Menu */

.menu{
    background-color: var(--preto-secundario);
}

.menu ul li a {
    font-family: Georgia, serif;
    color: var(--branco-primario);
    text-decoration: none;
}

.menu-nav{
    float: right;
}

.menu-nav li{
    display: inline-block;
}

.menu-nav li a{
    padding: 5px 15px;
    display: block;
}

.menu-nav ul li:after{
    content: "";
    display: block;
    background-color: var(--branco-primario);
    height: 5px;
    width: 0%;
    transition: .3s;
}

.menu-nav ul li:hover:after{
    width: 100%;
    transition: .3s;
}

/* 2 - Section Intro */

.intro{
    text-align: center;
    color: var(--branco-primario);
    background: url(../assets/img/bg-intro.jpg);
    background-position: center;
    background-size: cover;
    padding: 150px 0px;
}

.intro h1{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    font-family: Georgia, serif;
    transition: .3s;
}

.intro h1:after{
    content: "";
    display: block;
    height: 5px;
    width: 20px;
    background-color: var(--branco-primario);
    margin: 10px auto;
    transition: .3s;
}

.intro h1:hover:after{
    content: "";
    display: block;
    height: 5px;
    width: 100px;
    background-color: var(--branco-primario);
    margin: 10px auto;
    transition: .3s;
}

.intro p{
    font-size: 1.125em;
    font-style: italic;
    font-family: Georgia, serif;
}

/* 3 - Section Historia */

.sobre{
    padding: 60px 0;
}

.sobre h2{
    font-family: Georgia, serif;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}

.sobre-item{
    float: left;
    margin: 0 10px;
    width: 460px;
}

.sobre-item img{
    max-width: 460px;
    display: block;
}

.sobre-item h3{
    font-size: 2.25em;
    line-height: 1em;
    background-color: var(--preto-secundario);
    color: var(--branco-primario);
    font-style: italic;
    font-weight: normal;
    text-align: center;
    position: relative;
    width: 220px;
    padding: 5px 0 10px 0;
    top: -25px;
}

.sobre p{
    text-align: center;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.4em;
    max-width: 460px;
    margin: 20px auto;
}

/* 4 - Section Info */

.produtos{
    background-color: var(--cinza-primario);
    padding: 5%;
    text-align: center;
}

.produtos p{
    text-align: left;
}

.produtos .container{
    display: inline-flex;
}

.produtos .produtos-item{
    max-width: 20%;
    margin: 0 auto;
}

.produtos-carioca, .produtos-mineiro, .produtos-paulista{
    font-family: Georgia, serif;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
}

.produtos-carioca::before{
    content: "";
    display: block;
    height: 100px;
    width: 100px;
    background-color: #993300;
    margin: auto;
    border: 5px solid var(--cinza-primario);
    border-radius: 100px;
    box-shadow: 0px 0px 0px 5px #993300;
    margin-bottom: 20px;
}

.produtos-mineiro::before{
    content: "";
    display: block;
    height: 100px;
    width: 100px;
    background-color: #cc8800;
    margin: auto;
    border-radius: 50px;
    border: 5px solid var(--cinza-primario);
    border-radius: 100px;
    box-shadow: 0px 0px 0px 5px #cc8800;
    margin-bottom: 20px;
}

.produtos-paulista::before{
    content: "";
    display: block;
    height: 100px;
    width: 100px;
    background-color: #663300;
    margin: auto;
    border-radius: 50px;
    border: 5px solid var(--cinza-primario);
    border-radius: 100px;
    box-shadow: 0px 0px 0px 5px #663300;
    margin-bottom: 20px;
}

.produtos-btn{
    display: block;
    margin: 25px auto;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: var(--preto-primario);
    width: 100px;
    height: 20px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--preto-primario);
    text-transform: uppercase;
    font-family: Georgia, serif;
    transition: .3s;
}

.produtos .produtos-btn:hover{
    background-color: var(--preto-primario);
    color: var(--branco-primario);
    transition: .3s;
}

/* 5 - Section Lojas */


.locais{
    text-align: center;
    padding: 5%;
}

.locais-item {
    display: inline-flex;
    margin: 25px 0;
}

.locais-item h2{
    font-family: Georgia, serif;
    font-size: 2.25em;
    font-weight: bold;
    text-align: left;
    margin: 0 25px;
}

.locais-item p{
    width: 220px;
    text-align: left;
    margin: 0 25px;
}

.locais-item a{
    display: block;
    margin: 25px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: var(--preto-primario);
    width: 100px;
    height: 20px;
    padding: 10px;
    text-decoration: none;
    color: var(--preto-primario);
    text-transform: uppercase;
    font-family: Georgia, serif;
    transition: .3s;
}

.locais-item a:hover{
    background-color: var(--preto-primario);
    color: var(--branco-primario);
    transition: .3s;
}

/* 6 - Section Assine */

.assine{
    background-color: var(--cinza-primario);
    padding: 5%;
}

.assine .container{
    display: inline-flex;
    padding: 25px 100px;
}

.container .assine-info{
    width: 300px;
}

.container .assine-info h2{
    font-family: Georgia, serif;
    font-size: 2.25em;
    font-weight: bold;
}

.container .assine-info p{
    font-size: 1.125em;
    font-style: italic;
    font-family: Georgia, serif;
}

.container form{
    margin: 0 0 0 auto;
    display: inline;
}

.container label{
    display: none;
}

.container input{
    border-style: solid;
    border-width: 3px;
    border-color: var(--preto-primario);
    background-color: var(--cinza-primario);
    padding: 5px;
    font-style: italic;
    font-family: Georgia, serif;
}

.container button{
    background-color: var(--preto-primario);
    color: var(--branco-primario);
    font-family: Georgia, serif;
    text-transform: uppercase;
    border-style: solid;
    border-width: 3px;
    border-color: var(--preto-primario);
    padding: 6px;
}

/* 7 - Info */

.footer{
    background-color: var(--cinza-footer);
    padding: 20px 160px;;

}

.footer .container{
    display: inline-flex;
}

.footer .container img{
    margin: 0 0 0 auto;
}